# Project exclude paths
/.gradle/
/core/build/
/desktop/build/
/settings/
/Release
/JDK
/mapdata.json
/error.txt
/releasing.txt
/Updater/out
/core/assets/error.txt
/core/assets/mapdata.json
/core/assets/settings/
